.fishList{

    
}

.fish__Blue:hover{
    background-color: #4D8B31;
}

.fish__Bubba:hover{
    background-color: #4D8B31;
}

.fish__Barry:hover{
    background-color: #4D8B31;
}

.fish__Buddy:hover{
    background-color: #4D8B31;
}

.tipsList:hover {
    background-color: #4D8B31;
}

.travel__quotes:hover{
    background-color: #4D8B31;
}

.travel__locations:hover{
    background-color: #4D8B31;
    flex-direction: row;
}

.fishContainer {
    display: flex;
    flex-wrap: wrap;
}

.fish__Bubba {
    flex-basis: 25%;
    justify-content: space-evenly;
}

.fish__Barry {
    flex-basis: 25%;
    justify-content: space-evenly;
}

.fish__Buddy {
    flex-basis: 25%;
    justify-content: space-evenly;
}

.fish__Blue {
    flex-basis: 25%;
    justify-content: space-evenly;
}