.fishList{

}

.fishContainer {
    display: flex;
    flex-wrap: wrap;
}

.fish__Bubba {
    flex-basis: 25%;
    justify-content: space-evenly;
}

.fish__Bubba:hover{
    background-color: #4D8B31;
}

.fish__Barry {
    flex-basis: 25%;
    justify-content: space-evenly;
}

.fish__Barry:hover{
    background-color: #4D8B31;
}

.fish__Buddy {
    flex-basis: 25%;
    justify-content: space-evenly;
}

.fish__Buddy:hover{
    background-color: #4D8B31;
}

.fish__Blue {
    flex-basis: 25%;
    justify-content: space-evenly;
}

.fish__Blue:hover{
    background-color: #4D8B31;
}