.quote__Hilaire:hover{
    background-color: #4D8B31;
}


.locationContainer {
    display: flex;
    flex-wrap: wrap;
}

.location__Pacific{
    flex-basis: 25%;
    justify-content: space-evenly;
}

.location__Pacific:hover{
    background-color: #4D8B31;
}

.location__CentralAmerica{
    flex-basis: 25%;
    justify-content: space-evenly;
}

.location__CentralAmerica:hover{
    background-color: #4D8B31;
}

.tip__List:hover{
    background-color: #4D8B31;
}

.tip__One{
    justify-content: space-evenly;
}

.tip__One:hover {
    background-color: #4D8B31;
}